body {
  font-family: "Original Surfer", sans-serif;
}
body a {
  text-decoration: none;
  color: black;
}

/*header*/

header {
  background: linear-gradient(pink, rgb(247, 200, 247));
  text-align: center;
  padding-bottom: 1.2em;
}
.logo img {
  width: 60%;
}
#cart {
  list-style-type: none;
}
.home {
  color: black;
  font-size: 1.5em;
  margin-left: 2em;
}
.home:hover,
.cart:hover {
  color: white;
}

section {
  margin-top: 1em;
  font-size: 2em;
  text-align: center;
}

/*-------------oursons page d'accueil---------*/
.teddy-home {
  margin: 5%;
  border-radius: 25px;
  box-shadow: 1px 1px 12px rgb(236, 86, 236);
  background: linear-gradient(pink, rgb(247, 200, 247));
}
.teddy-home li {
  position: relative;
  list-style: none;
  margin: 0 15%;
  color: black;
  font-size: 1.7em;
}
.teddy-home img {
  border-radius: 25px;
  width: 80%;
  margin: 10%;
}
.teddy-home h4 {
  color: grey;
  margin-left: 10%;
  padding-bottom: 10%;
}

/*-------- page produit------*/

#teddy-product h3 {
  text-align: center;
  font-size: 1.4em;
}
#teddy-product h4 {
  font-size: 1.2em;
}
#teddy-product h5 {
  font-size: 1.5em;
}
#teddy-product img {
  margin: 1em;
  width: 90%;
  border-radius: 25px;
}
select {
  font-size: 1.2em;
}
#validationCart {
  padding: 1em;
  margin-left: 20%;
  margin-bottom: 2em;
  font-size: 1.4em;
  font-family: "Original Surfer", sans-serif;
  text-align: center;
  color: black;
  border-radius: 25px;
  border: 1px solid rgb(247, 200, 247);
  background: linear-gradient(pink, rgb(247, 200, 247));
}

/*------------page du panier -----*/
section h2 {
  font-size: 1.2em;
  text-decoration: underline;
}
.thumbnail-cart {
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  margin: 10px;
  display: flex;
}
.thumbnail-cart img {
  width: 40%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}
.descriptionCart h3 {
  font-size: 1em;
}
#teddyQuantity {
  font-size: 0.7em;
}
#teddyPrice {
  text-align: center;
  font-size: 1em;
}
.deleteTeddy {
  text-align: center;
  width: 10em;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 0.5em;
}
#emptyCart {
  background: linear-gradient(pink, rgb(247, 200, 247));
  border: 1px solid pink;
  border-radius: 25px;
  font-size: 0.5em;
}
/*------formulaire----*/
.contact-information {
  background: linear-gradient(pink, rgb(247, 200, 247));
  border-radius: 25px;
}
.selectProduct {
  font-size: 0.5em;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  margin: 0.5em;
}
.champ-manquant {
  font-weight: 900;
  font-size: 0.7em;
  color: red;
}
#button-confirm {
  margin-left: 20%;
  text-decoration: underline;
  width: 50%;
  padding: 1em;
  font-size: 1.5em;
  text-align: center;
  background: linear-gradient(pink, rgb(247, 200, 247));
  border-radius: 25px;
}
/*--------page de confirmation-------*/

.confirmation {
  margin-bottom: 2em;
  background: linear-gradient(pink, rgb(247, 200, 247));
}
.confirmation h2 {
  font-size: 0.5em;
  color: black;
}
.confirmation p {
  color: black;
  font-size: 0.4em;
}
#returnAccueil {
  margin-left: 30%;
  background: linear-gradient(pink, rgb(247, 200, 247));
  border: 1px solid pink;
  border-radius: 25px;
  padding: 1em;
  font-size: 1em;
}
/*footer*/

footer {
  margin-top: 2em;
  background: linear-gradient(pink, rgb(247, 200, 247));
}
.social-networks {
  padding-top: 1.5em;
  text-align: center;
}
.networks {
  color: black;
  margin-left: 2em;
  font-size: 1.4em;
}
.networks:hover {
  color: white;
}
.footer {
  text-align: center;
  font-size: 1em;
}
/*--------------------responsive-----------------*/

@media (min-width: 750px) {
  .logo img {
    width: 20%;
  }
  .teddy-home {
    width: 40%;
    margin: 1%;
  }
  .teddy-home img {
    width: 90%;
  }
  #thumbnails-teddies {
    display: flex;
  }
  .teddy-home li {
    font-size: 1em;
  }
  #teddy-product img {
    width: 60%;
  }
}
