body {
  font-family: "Original Surfer", sans-serif;
}
nav {
  background-color: rgb(238, 192, 200);
  border-radius: 40px;
  border: 3px solid purple;
  width: 100%;
}
.panier {
  margin-left: 5%;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}
.logo img {
  margin-left: 20%;
  width: 50%;
  height: 10%;
}

footer {
  border-radius: 25px;
  background-color: rgb(238, 192, 200);
}
footer ul {
  display: flex;
  border-radius: 25px;
  border: 3px solid purple;
}
footer li {
  list-style-type: none;
  padding: 5% 0;
}
footer .contact {
  margin-left: 15%;
}
footer .description {
  margin-left: 15%;
}
