body {
  font-family: "Original Surfer", sans-serif;
}

/*header*/

header {
  background: linear-gradient(pink, rgb(236, 86, 236));
  text-align: center;
  padding-bottom: 1.2em;
}
.logo img {
  width: 60%;
}
.accueil,
.panier {
  color: black;
  text-decoration: none;
  font-size: 1.3em;
  margin-left: 2em;
}

section {
  color: purple;
  text-align: center;
  margin-top: 1em;
  font-size: 2em;
}

/*ourson à vendre*/

article {
  margin-top: 1em;
}
article a {
  text-decoration: none;
  color: black;
}

.oursons {
  background: linear-gradient(pink, rgb(236, 86, 236));
  border-radius: 25px;
  text-align: center;
}
.oursons h3 {
  font-size: 1.5em;
}

.oursons img {
  margin: 1em;
  width: 90%;
  border-radius: 25px;
}

.oursons p {
  text-align: center;
  font-size: 1.4em;
}

/*footer*/

footer {
  background: linear-gradient(pink, rgb(236, 86, 236));
}
.reseaux-sociaux {
  padding-top: 1.5em;
  text-align: center;
}
.social {
  color: black;
  margin-left: 2em;
  font-size: 1.4em;
}
.pied-de-page {
  text-align: center;
  font-size: 1em;
}

/*----------------------------------*/
/*------responsive desktop----------------*/

@media (min-width: 1024px) {
  article {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 3em;
  }

  .oursons {
    margin-left: 2em;
  }
  .oursons:hover {
    box-shadow: 10px 10px 5px pink;
    transform: scale(1.1);
  }

  .oursons img {
    width: 80%;
  }
}
