body {
  font-family: "Original Surfer", sans-serif;
}

/*header*/

header {
  background: linear-gradient(pink, rgb(236, 86, 236));
  text-align: center;
  padding-bottom: 1.2em;
}
.logo img {
  width: 60%;
}
.accueil,
.panier {
  color: black;
  text-decoration: none;
  font-size: 1.3em;
  margin-left: 2em;
}
.accueil:hover,
.panier:hover {
  color: white;
}

section {
  color: rgb(236, 86, 236);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  margin-top: 1em;
  font-size: 2em;
}

/*-------------oursons page d'accueil---------*/
.oursons-accueil {
  margin: 5%;
  border-radius: 25px;
  box-shadow: 1px 1px 12px rgb(236, 86, 236);
  background: linear-gradient(pink, rgb(236, 86, 236));
}
.oursons-accueil li {
  position: relative;
  bottom: 1em;
  list-style: none;
  margin: 0 15%;
  color: black;
  font-size: 1.5em;
}
.oursons-accueil img {
  border-radius: 25px;
  width: 80%;
  margin: 10%;
}
.oursons-accueil a {
  text-decoration: none;
}

/*-------- page produit------*/

#oursons-product h3 {
  text-align: center;
  font-size: 1.4em;
}
#oursons-product h4 {
  font-size: 1.2em;
  text-decoration: underline;
}
#oursons-product h5 {
  font-size: 1.5em;
}
#oursons-product img {
  margin: 1em;
  width: 90%;
  border-radius: 25px;
}
#oursons-product li {
  margin-left: 4%;
  list-style: none;
  display: inline-block;
}

.validation-panier {
  padding: 1em;
  margin-left: 20%;
  margin-bottom: 2em;
  font-size: 1.4em;
  font-family: "Original Surfer", sans-serif;
  text-align: center;
  color: black;
  border-radius: 25px;
  border: 1px solid rgb(236, 86, 236);
  background: linear-gradient(pink, rgb(236, 86, 236));
}
.validation-panier:hover {
  box-shadow: 10px 10px 5px pink;
  transform: scale(1.1);
}

/*------------page du panier -----*/

.votre-panier {
  background: linear-gradient(pink, rgb(236, 86, 236));
}
.validation {
  padding: 1em;
  margin-bottom: 2em;
  font-size: 0.4em;
  font-family: "Original Surfer", sans-serif;
  text-align: center;
  color: black;
  border-radius: 25px;
  border: 1px solid rgb(236, 86, 236);
  background: linear-gradient(pink, rgb(236, 86, 236));
}

/*--------page de confirmation-------*/

.confirmation {
  margin-bottom: 2em;
  background: linear-gradient(pink, rgb(236, 86, 236));
}
.confirmation h2 {
  font-size: 0.5em;
  color: black;
}
.confirmation p {
  color: black;
  font-size: 0.7em;
}

.retour-accueil {
  padding: 1em;
  margin: 2em;
  font-size: 0.4em;
  font-family: "Original Surfer", sans-serif;
  text-align: center;
  color: white;
  border-radius: 25px;
  border: 1px solid rgb(236, 86, 236);
  background: purple;
}

/*footer*/

footer {
  background: linear-gradient(pink, rgb(236, 86, 236));
}
.reseaux-sociaux {
  padding-top: 1.5em;
  text-align: center;
}
.social {
  color: black;
  margin-left: 2em;
  font-size: 1.4em;
}
.social:hover {
  color: white;
}
.pied-de-page {
  text-align: center;
  font-size: 1em;
}

/*----------------------------------*/
/*------responsive desktop----------------*/

@media (min-width: 900px) {
  /*-------page d'accueil-----*/
  section {
    font-size: 2.5em;
  }
  #vignettes-oursons {
    display: flex;
    margin-bottom: 3em;
  }
  .oursons-accueil {
    margin: 1em;
  }
  .oursons-accueil:hover {
    box-shadow: 1px 1px 12px rgb(236, 86, 236);
    transform: scale(1.1);
  }
  .oursons-accueil li {
    margin: 2%;
    font-size: 1em;
  }

  /*--------page produit-----*/

  .oursons-product img {
    margin: 1em;
    width: 50%;
    height: auto;
    border-radius: 25px;
  }
}
